


@keyframes moveTitle {
  0% {
    transform: translateX(100%); /* Start position, off-screen to the right */
  }
  100% {
    transform: translateX(-100%); /* End position, off-screen to the left */
  }
}


.footer1 {
  background-color: #007bff; /* Background color for the footer */
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 14px; 
}
